* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    --box-size: 32px;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game {
    border: 10px solid #ccc;
}

#record {
    padding: 5px;
    font: 0.75rem sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left {
    display: flex;
    justify-content: center;
    align-items: center;
}

#info,
#restart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border: 3.25px outset #ddd;
    background-color: #ccc;
    font-size: 14px;
    cursor: pointer;
}

#info {
    font-size: 16px;
}

#level,
#sec {
    padding: 3px 5px;
    border: 1px solid #999;
    border-radius: 3px;
    background-color: #fff;
}

#record,
#top,
#grid {
    /* 邊框漸層 */
    /* border-image: linear-gradient(to right bottom, #999 50%, #fff 50%) 4; */
    border: 4px inset #ddd;
    background-color: #ccc;
}

#top {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0.5em;
}

#bomb,
#timer {
    width: 65px;
    max-height: 34px;
    background-color: #000;
    padding: 0 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bomb img,
#timer img {
    height: 100%;
    margin: 0 0.5px;
}

.custom-select {
    min-width: 90px;
    position: relative;
}

.custom-select::before,
.custom-select::after {
    --size: 0.3rem;
    content: "";
    position: absolute;
    right: 0.6rem;
    pointer-events: none;
}

.custom-select::before {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid black;
    top: 35%;
}

.custom-select::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
}

select {
    appearance: none;
    /* safari */
    -webkit-appearance: none;
    width: 100%;
    padding: 0.5em 0.7em;
    background-color: #fff;
    border: none;
    border-radius: 0;
    font: 1rem sans-serif;
    color: #000;
    cursor: pointer;
    outline: none;
}

.line {
    width: 100%;
    height: 10px;
    background-color: #ccc;
}

.box,
.flag {
    width: var(--box-size);
    height: var(--box-size);
    border: 3.25px outset #ddd;
    background-color: #ccc;
    cursor: pointer;
}

.flag {
    background: url(./images/flag.png) center/cover no-repeat;
}

.opened {
    width: var(--box-size);
    height: var(--box-size);
    border: 1px solid #999;
    background-color: #ccc;
}

.bomb {
    width: var(--box-size);
    height: var(--box-size);
    background: url(./images/bomb.png) center/cover no-repeat;
}

.not-bomb {
    width: var(--box-size);
    height: var(--box-size);
    border: 1px solid #999;
    background: #ccc url(./images/not-bomb.png) center/cover no-repeat;
}

/* SweetAlert */
/* 修正 safari 字型跑板問題 */
.swal2-popup {
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.img-class {
    margin-bottom: -5px;
}

.title-class {
    margin-bottom: 3px;
}